In [1]:
def load_file():
  file_name = 'day1.data'
  elf_data = []
  with open(file_name) as f:
    lines = f.readlines()
  
  calories = []
  for line in lines:
    line = line.replace('\n', '')
    if line == '':
      elf_data.append(calories)
      calories = []
    else:
      calories.append(int(line))
  
  elf_data.append(calories)
  return elf_data

In [2]:
data = load_file()

In [3]:
max(data)

[69149]

In [4]:
def find_max(data):
  m = 0
  for d in data:
    s = sum(d)
    m = max(s, m)
  
  return m

In [5]:
find_max(data)

72070

In [6]:
def find_sums(data):
  sums = []
  for d in data:
    sums.append(sum(d))
  
  return sums

In [7]:
sums = find_sums(data)

In [9]:
sums = sorted(sums, reverse=True)

In [11]:
sums[0] + sums[1] + sums[2]

211805